Ejemplos/dtd_externa/fichero.dtd

<!-- ficha.dtd -->
<!ELEMENT fichero (ficha+)>
<!ELEMENT ficha (nombre, apellido, direccion*, dui?, a?)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
<!ATTLIST nombre edad  CDATA  #IMPLIED>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT dui (#PCDATA)>
<!ELEMENT a (#PCDATA) >
				<!ATTLIST a  
					href CDATA #IMPLIED
					xmlns CDATA #IMPLIED 
					target (_blank|_self|marco) "_blank">