Ejercicios/dtd_exterma/ejercicio-ii-2b-dtd.dtd

		<!ELEMENT fichero (ficha+)>
		<!ELEMENT ficha (nombre, apellido, direccion*, DUI?, a?)>
		<!ELEMENT nombre (#PCDATA)>
		<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
            	<!ATTLIST nombre edad  NMTOKEN  "20">
		<!ELEMENT apellido (#PCDATA)>
		<!ELEMENT direccion (#PCDATA)>
		<!ELEMENT DUI (#PCDATA)>
		<!ELEMENT a (#PCDATA) >
				<!ATTLIST a  
					href CDATA #IMPLIED
					xmlns CDATA #IMPLIED 
					target (_blank|_self|marco) "_blank">